@tailwind base;
@tailwind components;
@tailwind utilities;

/* input search */

.ant-input-search .ant-input-group .ant-input-affix-wrapper:not(:last-child) {
    border-radius: 5px !important;
}

.ant-input-search>.ant-input-group>.ant-input-group-addon:last-child .ant-input-search-button {
    border-top-right-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
}