@tailwind base;
@tailwind components;
@tailwind utilities;

/* input search */

.ant-input-search .ant-input-group .ant-input-affix-wrapper:not(:last-child) {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
    height: 4vh;
}

.ant-input-search>.ant-input-group>.ant-input-group-addon:last-child .ant-input-search-button {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
    height: 4vh;
}


/* Media queries */


/* Input Search */

@media only screen and (max-width: 600px) {
    .ant-input-search .ant-input-group .ant-input-affix-wrapper:not(:last-child) {
        height: 3vh;
        width: 50px;
    }
}

@media only screen and (max-width: 600px) {
    .ant-input-search>.ant-input-group>.ant-input-group-addon:last-child .ant-input-search-button {
        height: 3vh;
    }
}


/* Sidebar */

.sidebar__open {
    position: fixed;
    width: 30vw;
    height: 100vh;
    background-color: gray;
}

.sidebar__close {
    position: fixed;
    max-width: 12vw;
    height: 100vh;
    background-color: gray;
}

.chaine1 {
    background-color: red;
}

.chaineoff {
    background-color: blue;
}