@tailwind base;
@tailwind components;
@tailwind utilities;

/*class input search */


/* icon search */

.css-12bcxhr {
    border-top-right-radius: 6px !important;
    border-bottom-right-radius: 6px !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}


/* input search */

.css-weswjr {
    background-color: #e5e5e5 !important;
    border-top-left-radius: 6px !important;
    border-bottom-left-radius: 6px !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}


/* Media queries */


/* Input Search */

@media only screen and (max-width: 600px) {
    .ant-input-search .ant-input-group .ant-input-affix-wrapper:not(:last-child) {
        height: 3vh;
        width: 50px;
    }
}

@media only screen and (max-width: 600px) {
    .ant-input-search>.ant-input-group>.ant-input-group-addon:last-child .ant-input-search-button {
        height: 3vh;
    }
}


/* Sidebar */

.sidebar__open {
    position: fixed;
    width: 30vw;
    height: 100vh;
    background-color: gray;
}

.sidebar__close {
    position: fixed;
    max-width: 12vw;
    height: 100vh;
    background-color: gray;
}

@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
.App {
    width: 50%;
    margin: 10rem auto;
    height: 570px;
}

.slide img {
    width: 20rem;
    margin: 0 auto;
}

.slide {
    transform: scale(0.2);
    transition: transform 300ms;
    opacity: 0.5;
}

.activeSlide {
    transform: scale(1.1);
    opacity: 1;
}

.arrow {
    background-color: #fff;
    position: absolute;
    cursor: pointer;
    z-index: 10;
}

.arrow svg {
    transition: color 300ms;
}

.arrow svg:hover {
    color: #68edff;
}

.next {
    right: 0%;
    top: 50%;
}

.prev {
    left: 0%;
    top: 50%;
}